*{
    margin: 0px;
    font-family: 'open Sans',sans-serif;
}
/* body{
    color:rgb(138, 138, 233);
} */
.header{
    position: relative;
    padding: 150px;
    background-image: url('../donate-today/images/donation1.jpg');
    height: 400px;
    width: 800px;
    color: white;
    text-align: center;
    margin-left: 200px;
}
/* Section 1 and div 1 */
.lorem{
    font-size: 15px;
    padding: 15px;
}
.btn-primary{
    border: 10px;
    background-color: #df1010;
    color: white;
    border-radius: 2px;
}
.font-size{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.lorem-side{
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.flex{
    margin-top: 50px;
    display: flex;
    color:rgb(45, 30, 30);
    margin-left: 300px;
}
.flex1{
    margin: 30px 50px;
}
.flex2{
    margin: 30px 50px;
    color: #df1010;
}  
.flex3{
    margin: 30px 50px;
}
.flex4{
    margin: 30px 50px;
}
.flex5{
    margin: 30px 50px;
}
.btn-primary_1{
    margin-top: 10px;
    margin-left: 700px;
    margin-bottom: 200px;
    background-color: #df1010;
    color: white;
    border-radius: 5px;
}
/* section 2 and div 2 */
.div2{
    margin: 100px 100px 100px 100px;
    display: flex;
}
#shanto1{
    margin-left: 660px;
}
.font-size1{
    text-align: center;
    margin-bottom: 10px;
}
.lorem-side1{
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}
.div2-1{
    background-color: rgb(236, 232, 225);
    margin: 40px 30px;
    padding: 40px;
}
.font-size2{
    margin:0px 0px 10px ;
}
.div2-2{
    background-color:rgb(213, 227, 227);
    margin: 40px 30px;
    padding: 40px;
}
.font-size3{
    margin:0px 0px 10px ;
}
.div2-3{
    background-color: bisque;
    margin: 40px 30px;
    padding: 40px;
}
.font-size4{
    margin:0px 0px 10px ;
}
/* Section 3 and div 3 */

.div3{
    display: flex;
    margin-top: 100px;
    margin-left: 300px;
}
.div3-1{
    padding: 10px;
    margin-top: 150px;
    margin: 20px 30px;
} 
.div3-2{
    margin-left: 60px;
    margin-bottom: 20px;
}
.lorem-side5{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right:10px; ;
}
.btn-primaray_2{
    background-color: #df1010;
    color: wheat;
    border-radius: 5px;
}
